/* General style */
.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  background-color: white;
  padding: 0 20px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.281);
  z-index: 1;
}

.left-section, .middle-section, .right-section {
  display: flex;
}

button, .status-panel, .channel-picture {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  bottom: -45px;
  background-color: rgba(43, 43, 43, 0.8);
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s;
}

/* Left Section */
.left-section {
  margin-right: 30px;
}

.hamburger-btn {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: none;
  margin-right: 20px;
  background-color: white;
  transition: all 0.15s;
}

.hamburger-menu-icon {
  width: 20px;
  margin-top: 2px;
}

.youtube-logo {
  width: 90px;
}

/* Middle Section */
.middle-section {
  flex: 1;
  justify-content: center;
}

.search-bar {
  flex: 1;
  max-width: 330px;
  width: 0;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid rgba(143, 143, 143, 0.5);
  box-shadow: inset 1px 1px 1px rgba(180, 180, 180, 0.15);
  font-size: 15px;
}

.search-bar:focus {
  outline: 1px solid rgb(8, 102, 255);
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 20px 0 1px;
  width: 63px;
  border-radius: 5px;
  border: 1px solid rgba(143, 143, 143, 0.5);
}

.search-voice-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: none;
}

.search-icon, .search-voice-icon {
  width: 25px;
}

/* Right Section */
.right-section {
  margin-left: 30px;
  width: 190px;
  justify-content: space-between;
  flex-shrink: 0;
}

.status-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.status-bar {
  width: 25px;
}

.notif-count {
  position: absolute;
  top: 2px;
  right: -3px;
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 100%;
}

.channel-picture {
  width: 30px;
  border-radius: 100%;
}


/* Hover effects */
.hamburger-btn:hover {
  background-color: rgb(235, 235, 235);
}

.search-btn:hover .tooltip {
  opacity: 1;
}

.search-voice-btn:hover .tooltip {
  opacity: 1;
}

.search-btn:hover {
  background-color: lightgray;
}

.search-voice-btn:hover {
  background-color: lightgray;
}

.status-panel:hover .tooltip {
  opacity: 1;
}